*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .register-message{
    text-align: center;
  }
}

.page-option{
  position: absolute;
  top: 0;
  right: 0;
}

.login-container{
  padding: 30px 50px;
  .input-group{
    margin-bottom: 30px;
  }
  .btn-group{
    display: flex;
    justify-content: flex-end;
  }
}

.register-container{
  padding: 30px 50px;
  .register-content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .register-action{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .register-back{
      order: 1;
    }
    .register-next{
      order: 0;
    }
  }
}
