header.header
  //- include topbar.jade
  
  div.header-container
    div.header-topbar
      div.navigator
        ul.nav-list
          - each val,index in [{name: 'index', title: 'Home'},{name: 'blog', title: 'Blog'},{name: 'about', title: 'About'}]
      
