.content-container{
  width: 800px;
  height: 1000px;
  padding-top: 20px;
  margin: 0 auto;
  .content-loading{
    text-align: center;
  }
  .content-item{
    margin-bottom: 20px;
    .content-text{
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .preview-pic{
    height: 450px;
    img{
      width: 100%;
    }
  }
}
