.main-page {
  .result {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px;
    font-size: 25px;
    background: #efefef;
    color: #b03911;
  }
  .loading-text {
    margin-left: 15px;
  }
}


.preload-enter {
  opacity: 0.01;
}

.preload-enter.preload-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.preload-leave {
  opacity: 1;
}
.preload-leave.preload-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}
